*,
*:before,
*:after {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

::-webkit-scrollbar{
    width: 4px;
    background-color: #1d1d1d3c;

    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #c4c4c42a;
    
    border-radius: 10px;
}

body{
    width: 100%;
    height: 100%;
    
    margin: 0;
    
    padding-top: 20vh;
    
    transition: ease-in 0.3s;
}

.editor{
    box-shadow: 7px 4px 15px rgba(0, 0, 0, 0.256);
    
    width: clamp(320px, 80%, 500px);
    height: 320px;
   
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 10px;
    
    position: relative;
}


.editor-dark{
    background-color: rgba(255, 255, 255, 0.153);
}


.editor .top{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.082);   
    
    width: 100%;
    height: 50px;

    top: 0;
    
    position: relative;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: rgba(255, 255, 255, 0);

    z-index: 10;
}

.editor .top .bar{
    display: flex;
    justify-content: center;

    top: 0;

    width: 100%;
    height: 100%;

    position: relative;
}

.editor .top .bar li{

    list-style: none;

    margin-left: auto;
    margin-right: auto;
    
    position: relative;

    outline: none;
    user-select: none;
}

.editor .top .bar li button{
    background-color: transparent;
    
    width: 30px;
    height: 30px;
    
    cursor: pointer;
    
    top: 10px;
    
    border: 0;
    
    text-align: center;
    
    outline: none;
    
    position: relative;
}

.editor .top .bar li button .sp-f{
    color: rgb(70, 70, 70);
}

.editor .top .bar li button .sp-d{
    color: #fff;
}

.sun{
    filter: invert(1);
}


.b2{
    background-color: rgb(46, 48, 63);
    
    transition: ease 0.3s;
}


.sp{
    color: #f9f9f9;
}

.output{
    color: #595959;
    
    line-height: 2;
    
    font-family: 'Lexend', sans-serif;
    
    position: relative;
    
    resize: none;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    height: calc(100% - 50px);
    
    padding: 25px;
    
    outline: none;
    
    border: none;
    
    overflow-y: scroll;
}

.output a{
    cursor: pointer;
}

.output::-webkit-scrollbar, .output-dark::-webkit-scrollbar{
    width: 2px;
    background-color: transparent;
}

.output::-webkit-scrollbar-thumb, .output-dark::-webkit-scrollbar-thumb{
    background-color: rgba(158, 158, 158, 0.234);
}

.output-dark{
    color: rgba(255, 255, 255, 0.541);

    line-height: 2;
    
    font-family: 'Lexend', sans-serif;
    
    position: relative;
    
    resize: none;
    
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: calc(100% - 50px);

    padding: 25px;
    
    outline: none;
    
    border: none;

    overflow-y: scroll;
}

.previewButtonDepois{
    margin-bottom: 40px;
}

.preview{
    background-color: transparent;

    color: #464646;
    
    width: 100%;
    height: fit-content;
    
    padding: 15px;
    
    margin-top: 0px;
    
    position: relative;
}

.preview-dark{
   background-color: transparent;

    color: rgba(255, 255, 255, 0.412);
    
    width: 100%;
    height: fit-content;
    
    padding: 15px;
    
    margin-top: 0px;
    
    position: relative;
}

/* box visualization */

.pre{

    display: none;

    height: fit-content;
    width: 80%;
    max-width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
    position: relative;
    
    
    border-radius: 6px;

    line-height: 1.5;
    
    color: #464646;
    background-color: rgba(255, 255, 255, 0.144);
    box-shadow: rgba(0, 0, 0, 0.297) 0px 0px 12px;
}

.pre-dis{
    display: flex;
}

.pb{
    width: 90%;
    height: max-content;
    
    text-align: center;
    
    padding-bottom: 20px;
    padding-top: 20px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pb .btns{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    height: 100%;
    
    text-align: center;
    
    position: relative;
    
    display: flex;
    justify-content: center;
}

.pb .pb-2 .pre button{
    background-color: rgb(108, 222, 106);
    color: #fff;
    
    border-radius: 2px;
    border: none;
    
    width: 90px;
    height: 20px; 
    
    position: absolute;
    
    top: -40px;
}

.btno{
    margin-left: 10px;
    margin-right: 10px;

    background-color: rgb(222, 69, 69);
    color: #fff;
    
    width: 90px;
    height: 20px;
    
    border: 1px solid transparent;
    border-radius: 3px;
    
    outline: none;

    cursor: pointer;
    
    position: relative;
}
